.so-widget-sow-google-map-default-9aa1810b9e95-181 .sow-google-map-canvas {
  height: 275px;
}
.so-widget-sow-google-map-default-9aa1810b9e95-181 .sow-google-map-canvas img {
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  max-width: none;
  zoom: normal;
}